.expander {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  cursor: pointer;

  &__svg {
    stroke: #666;
    stroke-width: 0;
    fill: #666;
  }

  &__path {
    &--collapsed {
      transform: translate(0, 100);
    }
  }
}
